# Ignore all markdown files in the root directory
/*.md

# Ignored directories
.agents/
.obsidian/
Attachments/
Clippings/*
Daily/
Files/
Telegram/
Temp/

# Miscellaneous
.DS_Store
.stignore

# Exceptions
!README.md
!LICENSE
!Clippings/How I use Obsidian.md